.hero {
  background: linear-gradient(
      rgba(255, 255, 255, 0.993),
      rgba(146, 43, 6, 0.85)
    ),
    url("https://farm3.staticflickr.com/2862/10936924134_24ce77ae37_b.jpg");
  min-height: 100%;
  background-size: cover;
  background-position: 50% 0;
}
