.searchboxWrapper {
  padding: 20px;
}
.reactGiphySearchbox-listWrapper {
  overflow-x: hidden;
  width: 100%;
}

.reactGiphySearchbox-searchForm-input {
  font-size: 20px !important;
  background: 0;
  border: 0;
  width: 400px;
  transition: padding 0.3s 0.2s ease;
}
